div(class="grid grid-cols-12")
  div(class="justify-self-center col-span-12 md:col-span-12 lg:col-span-12")
    div(class="tabs-bordered flex-wrap flex border-solid border border-limeGreen rounded-full p-2")
      button(id="defaultOpen" class="tab-option rounded-full" onclick="openOption(event, 'Arriendo')")
        span Arriendo
      button(class="tab-option rounded-full " onclick="openOption(event, 'Venta')")
        span Venta
      button(class="tab-option rounded-full " onclick="openOption(event, 'Amoblados')")
        span Amoblados
