div(class="grid justify-items-center")
  div(class="mx-auto")
    div(class="tabs-bordered flex border-solid border border-limeGreen rounded-full p-2")
      button(id="defaultOpen" class="tab-option rounded-full" onclick="openOption(event, 'Arriendo')")
        span Arriendo
      button(class="tab-option rounded-full " onclick="openOption(event, 'Venta')")
        span Venta
      button(class="tab-option rounded-full " onclick="openOption(event, 'Amoblados')")
        span Amoblados
