div(class="grid justify-items-center")
  div(class="mx-auto")
    div(class="tabs-borderless bg-white flex rounded-full p-2")
      button(id="defaultOpen1" class="tab-option1 rounded-full" onclick="openOption1(event, 'Propietario')")
        span Propietario
      button(class="tab-option1 rounded-full " onclick="openOption1(event, 'Inquilino')")
        span Inquilino
