@use "../../styles/_variables.scss" as *;

.tabs-clean{
  overflow: hidden;
  button{
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $montserrat-bold;
    color: $medium-gray;
    padding:  0.75rem 2rem;
    margin: 0 .125rem;
    span{
      font-size: 15px;
    }
    &:hover + span{
      color: $lime-green;
    }
    &:hover{
      border: 1px solid $lime-green;
      color: $lime-green;
      padding: 0.6875rem 1.9375rem;
      transition: color 0.3s ease;
    }
    &:nth-child(1){
      margin: 0 .125rem;
    }
    &:nth-last-child(1){
      margin: 0 .125rem;
    }
  }
  .active{
    background-color: $lime-green;
    color: $dark-gray;
    border: 1px solid $lime-green;
    padding: 0.6875rem 1.9375rem;
    transition: background-color 0.3s ease;
      &:hover{
        background-color: $lime-green;
        color: $dark-gray;
        border: none;
        padding: 0.6875rem 1.9375rem;
      }
    }
  }

.tab-content1 {
  display: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
