div(class="grid justify-items-center")
  div(class="mx-auto")
    div(class="tabs-clean flex rounded-full p-2")
      button(id="defaultOpen2" class="tab-option2 rounded-full" onclick="openOption2(event, 'Vertice1')")
        span Vertice 1
      button(class="tab-option2 rounded-full " onclick="openOption2(event, 'Vertice2')")
        span Vertice 2
      button(class="tab-option2 rounded-full " onclick="openOption2(event, 'Vertice3')")
        span Vertice 3
