@use '../../styles/_variables.scss' as *;

.swiper-properties {
  .title-properies {
    h2
    {
      color: $dark-gray;
    }
    span{
      font-family: $montserrat-black;
      color: $lime-green;
    }
  }
}
