@use '../../styles/_variables.scss' as *;

.swiper-resources {
  .title-resources {
    h2
    {
      color: $dark-gray;
    }
    span{
      font-family: $montserrat-black;
      color: $white;
    }
  }
}
