div(class="card resource p-4 bg-white flex flex-col justify-between rounded-2xl shadow-xl")
  .card-header
    img.card-img(src="../assets/images/brian-babb-XbwHrt87mQ0-unsplash.png" alt="Resource Image" class="w-full rounded-t-xl")
    .icon.bg-lime-green.flex.items-center.justify-center
      i.fa.fa-lightbulb-o.text-white.text-2xl
  .card-body.flex.flex-col.space-y-2
    .title
      h3 Pre-qualified vs. pre-approved: What’s the difference?
    a.text-lime-green.text-base.underline.font-bold(href="#") Ver contenido
