include ../components/banners/hero_banner.pug
include ../components/sliders/swiper_properties.pug
include ../components/categories/categories.pug
include ../components/sliders/swiper_resources.pug
include ../components/sliders/swiper_reviews.pug
include ../components/sliders/swiper_blog.pug
