footer
  .line-gray
    .footer-container
      .arriba-footer
        .footer-logo
          img.logo-foo(src="./Logo.svg" alt="Logo Livin Inmobiliaria")
          .social-icons
            a.logo-foo-social(href="#")
              img(src="./Icon akar-facebook-fill.svg" alt="Facebook")
            a.logo-foo-social(href="#")
              img(src="./Icon akar-instagram-fill.svg" alt="Instagram")
            a.logo-foo-social(href="#")
              img(src="./Icon akar-youtube-fill.svg" alt="YouTube")

        .footer-columns
          .footer-column
            h3 Categorías
            ul
              li Casas
              li Fincas
              li Oficinas
              li Lotes
              li Apartamentos
              li Bodegas
          .footer-column
            h3 Acerca de Livin
            ul
              li Nosotros
              li Blog
              li Centro de recursos
              li Tratamiento de datos
          .footer-column
            h3 Centro del cliente
            ul
              li Soy cliente
              li Pagar facturas
              li Mi lista
          .footer-column
            h3 Contacto
            p Calle 10B # 36 - 41 El Poblado - Medellín, Colombia
            p Teléfono:
              a(href="tel:6044444989") 6044444989
            p Celular:
              a(href="tel:3184444845") 3184444845

  .sin-linea
    .footer-container
      .footer-links
        .footer-column
          h3 Ventas
          ul
            li Casas en el Poblado
            li Apartamentos en el poblado
            li Oficinas en el poblado
            li Bodegas en el poblado
            li Casas en Laureles
            li Apartamentos en Laureles
            li
              a.flex-a(href="#") Ver más
                img(src="./Icon feather-chevron-down.svg" alt="")
        .footer-column
          h3 Arriendos
          ul
            li Casas en el Poblado
            li Apartamentos en el poblado
            li Oficinas en el poblado
            li Bodegas en el poblado
            li Casas en Laureles
            li Apartamentos en Laureles
            li
              a.flex-a(href="#") Ver más
                img(src="./Icon feather-chevron-down.svg" alt="")
        .footer-column
          p.ultimo-seo Texto para SEO, Lorem ipsum dolor sit amet, consectetur sadipiscing elit, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        .footer-column

  .footer-bottom
    p Livin Inmobiliaria Todos los derechos reservados copyright 2025
