section.hero-banner.bg-darkGray
  video.hero-background(autoplay muted loop class="hero-banner__video")
    source(src="../assets/video/1476339_People_Lifestyle_1920x1080.mp4" type="video/mp4")
  .container.mx-auto
    .grid.justify-items-center.content-center
      .hero-content
        h1 Tan simple como vivir.


